<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opening Form</title>
  </head>
  <body>
    <h1>Library Book Manager</h1>
    <div>

      <div>
        <form method="POST">
          <input name="book-name" placeholder="Enter book name">
          <input type="submit" name="submitButton" value="Search">
        </form>
      </div>


      <div>
        <form action="/add-book">
          <input type="submit" value="Add new book">
        </form>
      </div>

    </div>

    <div class="output-div">
      {% if message %}
    <p>{{ message }}</p>
      {% endif %}
    </div>
  </body>
</html>
